<div id="contenedor-gini">
  <label for="">gini</label>
  <div class="item-gini">
    <label for="gini[0][anio]">Año</label>
    <input type="number" id="gini[0][anio]" name="gini[0][anio]" placeholder="Ej: 2024">
    <label for="gini[0][valor]">Valor</label>
    <input type="number" step="0.1" id="gini[0][valor]" name="gini[0][valor]" placeholder="Ej: 45.4">
  </div>
</div>

