<nav>
  <a href="/">Inicio</a>
  <a href="/api/paises">Listado de Países</a>
  <a href="/#acercaDe">Acerca de</a>
  <a href="/api/paises/panelDeControl">Panel de Control</a>
  <a href="https://github.com/AxelClosas/api-paises" target="_blank">GitHub</a>
</nav>