<form action="/api/paises/nuevoPais" method="POST">
  <%- include('partials/camposFormulario.ejs') %>
  <div>
    <button type="submit">Confimar</button>
    <button type="reset">Limpiar campos</button>
    <a href="/api/paises">Cancelar</a>
  </div>
</form>
<script type="module" src="/js/formPais.js"></script>