<main>
  <h2>Formulario para agregar un nuevo País</h2>
  <p>Todos los campos con <strong style="color: red;">*</strong> son obligatorios</p>
  <br>
  <!-- Partial para mostrar errores -->
  <%- include('partials/errores.ejs', { errores: errores }) %>
  <form action="/api/paises/nuevoPais" method="POST" id="formAgregarPais">
    <%- include('partials/camposFormulario.ejs', { pais: pais || {}, old: old || {} }) %>
    <div class="botones-form">
      <button type="submit">Confimar</button>
      <button type="reset">Limpiar campos</button>
      <a href="/api/paises">Cancelar</a>
    </div>
  </form>
</main>
<script type="module" src="/js/formPais.js"></script>