<main>
  <h2>Proyecto Final del Módulo 3: Backend con NodeJS de la Diplomatura en Programación Full Stack con JavaScript</h2>
  <h1>API PAÍSES</h1>

  <div class="contenedor-acercaDe">
    <h2 id="acercaDe">Acerca de</h2>
    <p>La aplicación se desarrolló aplicando el patrón MVC aprendido en el módulo de backend con Node.js, para lograr una separación clara de responsabilidades y un código mantenible.</p>
    <p>El servidor y el enrutamiento se manejaron con Express.js. Para las vistas se trabajó con el motor de plantillas EJS y EJS-Express-Layouts para reutilizar componentes.</p>

    <p>La validación de datos de entrada se implementó con Express-Validator para sanitizar y validar la información. El flujo de la aplicación se controló mediante el uso de middlewares personalizados.</p>

    <p>La persistencia de datos se gestionó con MongoDB, utilizando la librería Mongoose para modelar los esquemas e interactuar con la base de datos de forma sencilla y segura.</p>

    <p>Todo el código se versionó con Git y se alojó en GitHub para facilitar el control de cambios, la colaboración y servir como portafolio del proyecto.</p>
    
    <p>Para acceder a los registros de los países que existen en la Base de Datos puede hacerlo desde el siguiente <a href="/api/paises">enlace</a> o mediante el menú del sitio.</p>
    <p><a href="https://www.github.com/AxelClosas" target="_blank">Closas Agüero Axel - Programador Trainee</a></p>
  </div>

</main>