<main>
  <% if (error.status === 404) { %>
  <p><%= error.mensaje %></p>
  <p>Para realizar la carga de los países en la Base de Datos haz click en el siguiente botón.</p>
  <p>Completado el proceso serás redirigido al <strong>Listado de Países</strong></p>
  <form action="/api/paises/cargarPaises" method="POST">
    <button type="submit">
      Cargar países
    </button>
  </form>
  <% } else { %>
  <p>Para eliminar todos los países de la Base de Datos haz click en el siguiente botón.</p>
  <p>Total de países en la Base de Datos: <strong><%= cantPaises %></strong>.</p>
  <p>Completado el proceso serás redirigido al <strong>Listado de Países</strong></p>
  <form action="/api/paises/eliminarPaises?_method=DELETE" method="POST">
    <button type="submit">
      Eliminar países
    </button>
  </form>
  <% } %>
</main>